body {
  font-size: 10px;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

a {
  text-decoration: none;
  color: #e2bc44; }

.top-menu--background, .background-image--tree {
  background-image: url("../images/background-image.jpg");
  overflow: hidden; }

.footer--wrapper {
  background-image: url("../images/background-image-footer.jpg"); }

.top-menu--background {
  width: 100%;
  height: 75px; }
  .top-menu--background .sniish-logo--name, .top-menu--background .sniish-logo--image {
    height: 100%;
    float: left; }
  .top-menu--background .sniish-logo--image {
    background-image: url("../images/sniish-logo.png");
    width: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
    margin-left: 30px;
    height: 95%; }
  .top-menu--background .sniish-logo--name {
    color: #ccbc4b; }
    .top-menu--background .sniish-logo--name p {
      padding-left: 15px;
      font-size: 1.8rem;
      margin-top: 20px; }

.sniish-logo--corn-image {
  display: block;
  background-image: url("../images/sniish-heading-corn--image.jpg");
  height: 80px;
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(186, 127, 25, 0.6); }

.fix-right-padding {
  padding-right: 0 !important; }

.background-image--tree .container-background {
  padding-left: 0; }

.background-image--tree .content {
  background-color: #eee;
  padding: 15px; }
  .background-image--tree .content > div {
    background-color: #fff; }

.main-menu {
  width: 100%; }
  .main-menu ul {
    margin: 0;
    padding: 0; }
    .main-menu ul li {
      padding: 0;
      border-bottom: 1px solid grey;
      -webkit-transition: all ease-in .3s;
      transition: all ease-in .3s;
      list-style-type: none; }
      .main-menu ul li.active, .main-menu ul li:hover {
        background-color: #134100;
        border-right: 2px solid black;
        cursor: pointer;
        text-decoration: none; }
        .main-menu ul li.active a, .main-menu ul li:hover a {
          color: #fff; }
      .main-menu ul li a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        color: #e2bc44;
        padding: 15px;
        text-transform: uppercase; }

.footer--wrapper {
  height: 60px;
  width: 100%;
  border-top: 2px solid rgba(186, 127, 25, 0.6); }

.content--heading {
  margin-top: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgrey; }

.add-user--form, .add-cultures--form {
  margin-top: 30px; }

.action--button {
  background-color: transparent;
  outline: none;
  border: 1px solid #134100;
  padding: 5px 20px;
  text-transform: uppercase;
  margin-top: 20px;
  -webkit-transition: all ease-in .4s;
  transition: all ease-in .4s; }
  .action--button:hover {
    background-color: #134100;
    color: #fff; }

.form-control:focus {
  border-color: transparent !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(19, 65, 0, 0.6) !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(19, 65, 0, 0.6) !important; }

.material--wrapper {
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-bottom: 30px;
  -webkit-transition: all ease-in .3s;
  transition: all ease-in .3s;
  -webkit-box-shadow: 0px -1px 0px 0px lightgrey;
          box-shadow: 0px -1px 0px 0px lightgrey;
  padding: 20px;
  padding-top: 3px;
  margin-top: 10px; }
  .material--wrapper:hover {
    -webkit-box-shadow: 4px 3px 15px 0px black;
            box-shadow: 4px 3px 15px 0px black; }

.footer--wrapper {
  padding-top: 20px;
  color: #7a7a7a; }
  .footer--wrapper ul li {
    list-style-type: none; }

.current-user--top {
  float: right;
  padding-right: 20px;
  padding-top: 0px;
  color: #b8b8b8;
  -webkit-transition: all ease-in .3s;
  transition: all ease-in .3s;
  -webkit-transform: translateX(105%);
      -ms-transform: translateX(105%);
          transform: translateX(105%); }
  .current-user--top.active {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px); }
  .current-user--top i {
    -webkit-transform: translateX(-40px) translateY(20px);
        -ms-transform: translateX(-40px) translateY(20px);
            transform: translateX(-40px) translateY(20px);
    font-size: 2rem;
    color: #ccbc4b; }
    .current-user--top i:hover {
      color: #ccc;
      cursor: pointer; }
  .current-user--top p {
    color: #ccbc4b; }
  .current-user--top a {
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s;
    color: #b8b8b8; }
    .current-user--top a:hover, .current-user--top a:active, .current-user--top a:visited {
      color: #ccc;
      text-decoration: none; }

.big-wrapper {
  margin-top: 100px;
  margin-bottom: 200px; }

.active-users--table {
  margin-top: 30px; }
  .active-users--table .table {
    padding-top: 5px;
    margin-bottom: 20px; }
    .active-users--table .table th {
      padding: 8px; }

a.remove {
  -webkit-transition: all ease-in .3s;
  transition: all ease-in .3s;
  color: rgba(19, 65, 0, 0.58); }
  a.remove:hover, a.remove:active, a.remove:focus {
    color: red;
    outline: none; }

.pop-up--wrapper {
  padding: 30px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #fff; }

.buttons--wrapper {
  margin-bottom: 20px; }

.hidden-form-button:last-child {
  margin-left: 20px; }

.hidden-form-button.remove:hover {
  background-color: red;
  border-color: transparent; }

.white-popup-block {
  margin: 0 auto;
  width: 600px; }

.adding-elements--wrapper {
  margin-top: 3px; }

.input-for-select-2 {
  padding: 2px;
  display: none;
  margin-right: 10px; }

.save-or-cancel {
  display: none; }

.reproduction_radio {
  margin-left: 25px !important; }
  .reproduction_radio:first-child {
    margin-left: 5px !important; }

textarea.contacts {
  width: 100%;
  padding: 4px 7px; }

i.fa.fa-pencil-square-o::before {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
  padding-right: 7px;
  display: inline-block; }

.tooltip-on-hover {
  text-decoration: underline;
  cursor: pointer; }

.success-table {
  background-color: rgba(173, 255, 47, 0.11) !important; }

.active-table {
  background-color: rgba(255, 255, 0, 0.18) !important; }

.overdue-table {
  background-color: rgba(255, 0, 0, 0.11) !important; }
